---
import Layout from "../layouts/Layout.astro";
import Moin from "../components/Moin.astro";
---

<script>
    import { annotate } from "rough-notation";

    const fullStack = document.querySelector("#fullstack");

    if (fullStack) {
        annotate(fullStack as HTMLElement, {
            type: "underline",
            color: "#000",
        }).show();
    }
</script>

<Layout>
    <Moin />

    <div class="mt-10">
        <p>
            Moin! I am Justin Vietz, a <span id="fullstack">full-stack</span> developer
            by ❤️
        </p>
    </div>
</Layout>
