---
import ListItem from "../components/ListItem.astro";
import Layout from "../layouts/Layout.astro";

const projects = [
  {
    title: "WorkTime",
    description: "A tool collection centered around time management for work.",
    url: "https://worktime.vietz.dev",
    date: "2025", // Assuming a start or last updated year, adjust as needed
  },
  // Add more projects here in the future
];
---

<Layout title="Projects | Justin Vietz">
  <div class="mt-10">
    <h1 class="text-3xl font-bold mb-8 text-text">projects</h1>
    <ul class="space-y-6">
      {
        projects.map((project) => (
          <ListItem
            href={project.url}
            target="_blank"
            title={project.title}
            description={project.description}
            date={project.date}
          />
        ))
      }
    </ul>
  </div>
</Layout>
