---
import ThemeToggle from "./ThemeToggle.astro";

const currentPage = new URL(Astro.url.pathname, Astro.url).pathname;
const trimmedPath = currentPage.endsWith("/")
  ? currentPage.slice(0, -1)
  : currentPage;

function matchesPath(path: string): boolean {
  if (path === "") {
    return trimmedPath === "";
  }

  return trimmedPath.startsWith(path);
}
---

<nav class="container mx-auto px-4 py-5 border-b border-border">
  <ul class="flex gap-3 items-center text-text">
    <li>
      <a class:list={[{ active: matchesPath("") }]} href="/">home</a>
    </li>
    <li>
      <a class:list={[{ active: matchesPath("/projects") }]} href="/projects"
        >projects</a
      >
    </li>
    <li>
      <a class:list={[{ active: matchesPath("/blog") }]} href="/blog">blog</a>
    </li>
    <li class="ml-auto">
      <ThemeToggle />
    </li>
  </ul>
</nav>

<style>
  nav > ul > li > a {
    &::before {
      content: "{ ";
      color: transparent; /* Braces are transparent by default */
      transition: color 0.2s ease-in-out; /* Subtle transition for brace color */
    }
    &::after {
      content: " }";
      color: transparent; /* Braces are transparent by default */
      transition: color 0.2s ease-in-out; /* Subtle transition for brace color */
    }

    &.active {
      &::before {
        color: var(--color-text); /* Black braces for the active link */
      }
      &::after {
        color: var(--color-text); /* Black braces for the active link */
      }
    }

    /* Show light gray braces on hover for non-active links */
    &:hover:not(.active) {
      &::before,
      &::after {
        color: var(--color-text-muted);
      }
    }
  }
</style>
