---
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
const { title, description } = frontmatter ?? {};
---

<Layout
  title={title ? `${title} | Justin Vietz` : "Blog | Justin Vietz"}
  description={description}
>
  <div class="mt-10">
    <article class="prose dark:prose-invert">
      <slot />
    </article>
  </div>
</Layout>
